<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <script src="https://kit.fontawesome.com/adb87a038e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Todos</h1>
    <h2>
        <%= user.userName %> has <%= left %> things left to do.
    </h2>
    <ul>
        <% todos.forEach( el=> { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                <img class='del' src="assets/icons8-trash.png" alt="Delete">
            </li>
            <% }) %>
    </ul>


    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit" class="submitTodo">
    </form>

    <section id ="settings" class="hidden">
        
        <div class="select-font">
            <label for="font-selector">Select Font</label>
            <select id="font-selector" form="listColorFont">
                <option value="Arial">Arial</option>
                <option value="Bradley Hand">Bradley</option>
                <option value="Brush Script MT">Brush</option>
                <option value="Comic Sans MS">Comic Sans</option>
                <option value="Courier">Courier</option>
                <option value="Garamond">Garamond</option>
                <option value="Georgia">Georgia</option>
                <option value="Impact">Impact</option>
                <option value="Lucida">Lucida</option>
                <option value="Palatino">Palatino</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Times">Times</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Verdana">Verdana</option>
            </select>
        </div>
        <div class="select-color">
            <label for="color-selector">Select Color</label>
            <select id="color-selector" name = 'color' form="listColorFont">
                <option value="White">White</option>
                <option value="Pink">Pink</option>
                <option value="Yellow">Yellow</option>
                <option value="Red">Red</option>
                <option value="Purple">Purple</option>
                <option value="Green">Green</option>
            </select>
        </div>
        <!-- <form action="/todos/changeDisplay" method ='POST' id="listColorFont">    Fix later-->
        <!-- <form id="listColorFont"> -->
            <input type="submit" class="submitTodo submitSettings">
        <!-- </form> -->
    </section>
    <a class = 'logout' href="/logout">Logout</a>
    <img src="assets/icons8-settings.png" alt="Settings Gear" class="settings-icon">

    <script src="js/main.js"></script>
</body>

</html>